body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.home-background {
    background: linear-gradient(-30deg, #a7ffa3, #b2aaff, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.about-skills-background {
    background-color: #c9f3c7;
}

.about-experience-background {
    background-color: #a4cad8;
}
